.add-car-page {
    max-width: 1100px;
    margin: auto;
    padding: 30px;
}

.add-car-page h1 {
    margin-bottom: 25px;
}

.car-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.car-form input,
.car-form select,
.car-form textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}

.car-form textarea {
    grid-column: 1/3;
    min-height: 150px;
    resize: none;
}

.car-form input[type=file] {
    grid-column:  1/3;
}

.car-form button {
    grid-column: 1/3;
    padding: 15px;
    background: #0d6efd;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
}

.checkbox {
    display: flex;
    align-items: center;
    gap: 10px;
}

.image-preview {
    grid-column: 1/3;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.image-preview div {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.image-preview img {
    width: 150px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
}

.image-preview button {
    margin-top: 8px;
    cursor: pointer;
}

.car-loading {
    padding: 50px;
    text-align: center;
    font-size: 18px;
}

@media (max-width: 500px) {
    .image-preview img {
        width: 100px;
        height: 80px;
        object-fit: cover;
    }

    .image-preview button {
        background-color: green;
        color: black;
        padding: 0.5rem;
        font-size: 12px;
    }
}
