.featured {
    padding: 50px;
}

.featured h2{
    text-align: center;
    margin-bottom: 40px;
}

.featured-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}

.feature-loading{
    text-align: center;
}

@media (max-width: 600px) {
    .featured {
        display: flex;
        flex-direction: column;
        padding: 30px 15px;
    }
}
